# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.spec
!AudioVisualizer.spec

# Compiler & Tools (New)
compiler/
*.zip
*.7z
unzip_compiler.py
re_unzip.py

# PyInstaller
*.manifest

# IDEs
.vscode/
.idea/
mingw64/
